<?xml version="1.0"?>
<config>
    <modules>
        <Pektsekye_OptionExtended>
            <version>1.0.5</version>
        </Pektsekye_OptionExtended>
    </modules>
    <admin>
        <routers>
			    <adminhtml>
				    <use>admin</use>
				    <args>
               <modules>				    
                  <Pektsekye_OptionExtended after="Mage_Adminhtml">Pektsekye_OptionExtended</Pektsekye_OptionExtended>	
               </modules>              				    
				    </args>
			    </adminhtml>			    
        </routers>
    </admin>    	 
    <adminhtml>
		  <layout>
			  <updates>
				  <optionextended>
					  <file>optionextended.xml</file>
				  </optionextended>
			  </updates>
		  </layout>
      <events>
          <catalog_product_save_before>
              <observers>
                  <optionextended>
                      <type>singleton</type>
                      <class>optionextended/observer</class>
                      <method>productSaveBefore</method>
                  </optionextended>
              </observers>
          </catalog_product_save_before>         
          <catalog_product_save_after>
              <observers>
                  <optionextended>
                      <type>singleton</type>
                      <class>optionextended/observer</class>
                      <method>productSaveAfter</method>
                  </optionextended>
              </observers>
          </catalog_product_save_after>        
          <model_save_after>
              <observers>
                  <optionextended>
                      <type>singleton</type>
                      <class>optionextended/observer</class>
                      <method>optionSaveAfter</method>
                  </optionextended>
              </observers>
          </model_save_after>	
          <catalog_product_load_after>
              <observers>
                  <optionextended>
                      <class>optionextended/observer</class>
                      <method>addOptionTemplatesToProduct</method>
                  </optionextended>
              </observers>
          </catalog_product_load_after>             
          <catalog_product_collection_load_after>
              <observers>
                  <optionextended>
                      <class>optionextended/observer</class>
                      <method>addOptionTemplatesToProductCollection</method>
                  </optionextended>
              </observers>
          </catalog_product_collection_load_after>  
            <sales_quote_item_set_product>
                <observers>
                    <optionextended>
                        <class>optionextended/observer</class>
                        <method>setSkipCheckRequired</method>
                    </optionextended>
                </observers>
            </sales_quote_item_set_product> 
            <sales_quote_item_collection_products_after_load>
                <observers>
                    <optionextended>
                        <class>optionextended/observer</class>
                        <method>setSkipCheckRequiredToCollection</method>
                    </optionextended>
                </observers>
            </sales_quote_item_collection_products_after_load>            
      </events>
		  <menu>
			  <catalog>
          <children>				  						  
		        <optionextended module="optionextended">
			        <title>Option Templates</title>
			        <sort_order>1</sort_order> 
					    <action>adminhtml/optiontemplate</action>			                      
		        </optionextended>
		        <ox_pickerimage module="optionextended">
			        <title>Picker Images</title>
			        <sort_order>1</sort_order> 
					    <action>adminhtml/ox_pickerimage</action>			                      
		        </ox_pickerimage>		        
          </children>			      
			  </catalog>				    		  
		  </menu>   
		  <acl>
			  <resources>
				  <all>
					  <title>Allow Everything</title>
				  </all>
				  <admin>
					  <children>
			        <catalog>
                <children>				  						  
		              <optionextended  translate="title" module="optionextended">
			              <title>Option Templates</title>	
                    <sort_order>10</sort_order>			              	                      
		              </optionextended>
		              <ox_pickerimage  translate="title" module="optionextended">
			              <title>Picker Images</title>	
                    <sort_order>10</sort_order>			              	                      
		              </ox_pickerimage>		              
                </children>			      
			        </catalog>
					  </children>
				  </admin>
			  </resources>
		  </acl>		     		
    	<translate>
          <modules>
              <Pektsekye_OptionExtended>
                   <files>
                        <default>Pektsekye_OptionExtended.csv</default>
                   </files>
              </Pektsekye_OptionExtended>
          </modules>
      </translate>	        
    </adminhtml>  
	 
    <frontend>	
        <layout>
            <updates>
                <optionextended>
                    <file>optionextended.xml</file>
                </optionextended>
            </updates>
        </layout>
        <events>	
            <catalog_product_load_after>
                <observers>
                    <optionextended>
                        <class>optionextended/observer</class>
                        <method>addOptionTemplatesToProduct</method>
                    </optionextended>
                </observers>
            </catalog_product_load_after>             
            <catalog_product_collection_load_after>
                <observers>
                    <optionextended>
                        <class>optionextended/observer</class>
                        <method>addOptionTemplatesToProductCollection</method>
                    </optionextended>
                </observers>
            </catalog_product_collection_load_after>                     	  
            <sales_quote_item_set_product>
                <observers>
                    <optionextended>
                        <class>optionextended/observer</class>
                        <method>setSkipCheckRequired</method>
                    </optionextended>
                </observers>
            </sales_quote_item_set_product>
          <model_load_before>
              <observers>
                  <optionextended>
                      <type>singleton</type>
                      <class>optionextended/observer</class>
                      <method>optionLoadBefore</method>
                  </optionextended>
              </observers>
          </model_load_before>	            
          <model_load_after>
              <observers>
                  <optionextended>
                      <type>singleton</type>
                      <class>optionextended/observer</class>
                      <method>optionLoadAfter</method>
                  </optionextended>
              </observers>
          </model_load_after>	            
        </events>		
	    	<translate>
            <modules>
                <Pektsekye_OptionExtended>
                     <files>
                          <default>Pektsekye_OptionExtended.csv</default>
                     </files>
                </Pektsekye_OptionExtended>
            </modules>
        </translate>	        			
    </frontend>	
	 
    <global>
     <models>
			<sales>
				<rewrite> 
					<quote>Pektsekye_OptionExtended_Model_Quote</quote> 					
				</rewrite> 			
			</sales>
			<catalog>
				<rewrite>				
					<product_option_type_select>Pektsekye_OptionExtended_Model_Product_Option_Type_Select</product_option_type_select> 	
				</rewrite> 			
			</catalog>			
			<catalog_resource_eav_mysql4>
				<rewrite> 
					<product_option>Pektsekye_OptionExtended_Model_Resource_Eav_Mysql4_Product_Option</product_option> 					
				</rewrite> 			
			</catalog_resource_eav_mysql4>
            <optionextended>
                <class>Pektsekye_OptionExtended_Model</class>
                <resourceModel>optionextended_mysql4</resourceModel>				 
            </optionextended>			
            <optionextended_mysql4>
                <class>Pektsekye_OptionExtended_Model_Mysql4</class>
                <entities>
                    <option>
                        <table>optionextended_option</table>
                    </option>
                    <option_note>
                        <table>optionextended_option_note</table>
                    </option_note>							  
                    <value>
                        <table>optionextended_value</table>
                    </value>
                    <value_description>
                        <table>optionextended_value_description</table>
                    </value_description>						  
                    <import>
                        <table>optionextended_import</table>
                    </import>
                    <template>
                        <table>optionextended_template</table>
                    </template>                                   	
                    <template_option>
                        <table>optionextended_template_option</table>
                    </template_option>
                    <template_option_title>
                        <table>optionextended_template_option_title</table>
                    </template_option_title>							  
                    <template_option_price>
                        <table>optionextended_template_option_price</table>
                    </template_option_price>
                    <template_option_note>
                        <table>optionextended_template_option_note</table>
                    </template_option_note>	
                    <template_value>
                        <table>optionextended_template_value</table>
                    </template_value>
                    <template_value_title>
                        <table>optionextended_template_value_title</table>
                    </template_value_title>							  
                    <template_value_price>
                        <table>optionextended_template_value_price</table>
                    </template_value_price>
                    <template_value_description>
                        <table>optionextended_template_value_description</table>
                    </template_value_description>	
                    <product_template>
                        <table>optionextended_product_template</table>
                    </product_template>
                    <pickerimage>
                        <table>optionextended_pickerimages</table>
                    </pickerimage>                                                                                                      					  
                </entities>
            </optionextended_mysql4>		
        </models>
        <resources>
            <optionextended_setup>
                <setup>
                    <module>Pektsekye_OptionExtended</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </optionextended_setup>
            <optionextended_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </optionextended_write>
            <optionextended_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </optionextended_read>
        </resources>
        <blocks>
            <optionextended>
                <class>Pektsekye_OptionExtended_Block</class>
            </optionextended>	
            <adminhtml>
				        <rewrite> 
					        <catalog_product_edit_tab_options>Pektsekye_OptionExtended_Block_Adminhtml_Catalog_Product_Edit_Tab_Options</catalog_product_edit_tab_options> 					
				        </rewrite>                 
            </adminhtml>	            			
        </blocks>		  
        <helpers>
            <optionextended>
                <class>Pektsekye_OptionExtended_Helper</class>
            </optionextended>
        </helpers>		  
    </global>
	<default>
		<checkout>
			<cart>
				<custom_option_images>1</custom_option_images>				
			</cart>
		</checkout>	
		<admin>
			<optionextended>
				<template>1</template>
				<dependency>1</dependency>
				<images>1</images>
				<description>1</description>
				<selected_by_default>1</selected_by_default>
				<inactiverows>1</inactiverows>							
				<accordion>1</accordion>							
			</optionextended>
		</admin>
	</default>	
</config>
