<?xml version="1.0"?>
<config>
  <modules>
    <Jewel_BuklEmil>
      <version>0.1.0</version>
    </Jewel_BuklEmil>
  </modules>
  <frontend>
    <routers>
      <buklemil>
        <use>standard</use>
          <args>
            <module>Jewel_BuklEmil</module>
            <frontName>buklemil</frontName>
          </args>
      </buklemil>
    </routers>
		<layout>
		  <updates>
			<buklemil>
			  <file>buklemil.xml</file>
			</buklemil>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <buklemil>
        <class>Jewel_BuklEmil_Helper</class>
      </buklemil>
    </helpers>
	<blocks>
	  <buklemil>
		<class>Jewel_BuklEmil_Block</class>
	  </buklemil>
	</blocks>
  </global>
</config> 